{
  "service_account_key_file": "./key.json.example",
  "folder_id": "xxxxxxxxxxxxxxxxxxxx",
  "source_image_family": "ubuntu-1604-lts",
  "zone": "ru-central1-a",
  "subnet_id": "xxxxxxxxxxxxxxxxxxxx",

  "image_preemptible": "true"
}
